{{- if eq .chezmoi.os "darwin" -}}
[user]
	name = Anton Ustyuzhanin
	{{- if eq .machineType "personal" }}
	email = antonu17@gmail.com
	{{- else }}
	email = anton.u@miro.com
	{{- end }}
	signingkey = EAD4F30B01D6F00F
[credential]
	helper = "!f() { echo \"username=x-access-token\"; echo \"password=$GITHUB_TOKEN\"; }; f"
[commit]
	gpgsign = true
[tag]
	gpgSign = true
[gpg]
	format = openpgp
[core]
	pager = delta
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	dark = true
	line-numbers = true
[merge]
	conflictStyle = zdiff3
{{- else }}
[user]
	name = Agent
	email = agent@change.me
{{- end }}
