font_family      family="MesloLGSDZ Nerd Font Mono"
bold_font        auto
italic_font      auto
bold_italic_font auto
font_size        16.0

copy_on_select yes
cursor_shape block

shell_integration enabled
shell_integration no-cursor
scrollback_lines -1
enabled_layouts vertical,stack

map alt+left  send_text all \x1bb
map alt+right send_text all \x1bf
map alt+backspace send_text all \x1b\x7f

{{ if eq .chezmoi.os "linux" -}}
# keyd swaps physical Cmd and Ctrl on Linux. Cyrillic mappings keep shortcuts
# on the same physical keys when the Russian layout is active.
map ctrl+c copy_to_clipboard
map ctrl+с copy_to_clipboard
map ctrl+v paste_from_clipboard
map ctrl+м paste_from_clipboard

# Preserve terminal control characters on the physical Ctrl key.
map cmd+c send_text all \x03
map cmd+с send_text all \x03
map cmd+d send_text all \x04
map cmd+в send_text all \x04
map cmd+v send_text all \x16
map cmd+м send_text all \x16

# Cmd+Left/Right/Backspace are handled by keyd and zsh. keyd turns
# Cmd+Up/Down into Ctrl+Home/End before Kitty receives the key press.
map ctrl+shift+home scroll_to_prompt -1 2
map ctrl+shift+end scroll_to_prompt 1 2
map ctrl+shift+l scroll_to_prompt 0
map ctrl+shift+д scroll_to_prompt 0
map ctrl+home scroll_home
map ctrl+end scroll_end
map ctrl+f search_scrollback
map ctrl+а search_scrollback
map ctrl+alt+f show_scrollback
map ctrl+alt+а show_scrollback
map ctrl+shift+g show_last_command_output
map ctrl+shift+п show_last_command_output

map ctrl+shift+d new_window
map ctrl+shift+в new_window
map ctrl+[ previous_window
map ctrl+х previous_window
map ctrl+] next_window
map ctrl+ъ next_window
map ctrl+shift+enter toggle_layout stack

map ctrl+w close_tab
map ctrl+ц close_tab
map ctrl+t new_tab
map ctrl+е new_tab
map ctrl+shift+] next_tab
map ctrl+shift+ъ next_tab
map ctrl+shift+[ previous_tab
map ctrl+shift+х previous_tab
{{ else -}}
map cmd+left  send_text all \x01
map cmd+right send_text all \x05
map cmd+backspace send_text all \x15

map shift+cmd+up scroll_to_prompt -1 2
map shift+cmd+down scroll_to_prompt 1 2
map shift+cmd+l scroll_to_prompt 0
map cmd+up scroll_home
map cmd+down scroll_end
map cmd+f search_scrollback
map cmd+alt+f show_scrollback
map shift+cmd+g show_last_command_output

map cmd+shift+d new_window
map cmd+[ previous_window
map cmd+] next_window
map cmd+shift+enter toggle_layout stack

map cmd+w close_tab
map cmd+t new_tab
map cmd+shift+] next_tab
map cmd+shift+[ previous_tab
{{ end -}}


# BEGIN_KITTY_THEME
# Gruvbox Dark Hard
include current-theme.conf
# END_KITTY_THEME
